<svg [id]="id">
  <defs>
    <clipPath [id]="'lineClip' + id">
      <rect [attr.width]="xAxisLength" [attr.height]="yAxisAdjusted" x="0" y="0"></rect>
    </clipPath>
  </defs>
  <g>
    <rect
      [attr.width]="xAxisLength"
      [attr.height]="yAxisAdjusted"
      [attr.x]="Y_LABEL_MARGIN"
      [attr.y]="TOP_MARGIN"
      fill="#F9FAFB"
    ></rect>
  </g>
  <g
    class="x axis"
    [style.transform]="'translate(' + Y_LABEL_MARGIN + 'px, ' + (yAxisAdjusted + TOP_MARGIN) + 'px)'"
  ></g>
  <g
    class="y axis"
    [style.transform]="'translate(' + Y_LABEL_MARGIN + 'px,' + TOP_MARGIN + 'px)'"
  ></g>
  <g
    class="lines"
    [style.transform]="'translate(' + Y_LABEL_MARGIN + 'px,' + TOP_MARGIN + 'px)'"
    [attr.clip-path]="'url(#lineClip' + id +')'"
  ></g>
</svg>
