<div
  class="topology-node-control-button add-router"
  [class.active]="canvasStatus === CanvasStatus.AddingRouter"
  (click)="addRouter()"
>
  <img width="30px" height="30px" src="/assets/images/router.svg">
  <div>
      Add Router
  </div>
</div>

<div
  class="topology-node-control-button add-host"
  [class.active]="canvasStatus === CanvasStatus.AddingHost"
  (click)="addHost()"
>
  <img width="30px" height="30px" src="/assets/images/host.svg">
  <div>
      Add Host
  </div>
</div>

<div
  class="topology-node-control-button add-link"
  [class.active]="canvasStatus === CanvasStatus.AddingLink"
  (click)="addLink()"
>
  <img width="30px" height="30px" src="/assets/images/cable.svg">
  <div>
    Add Link
  </div>
</div>

<div
  class="topology-node-control-button delete"
  [class.disabled]="!isAdding() && !elementSelected()"
  (click)="delete()"
>
  <img
    width="30px"
    height="30px"
    [src]="(isAdding() || elementSelected()) ? '/assets/images/delete.svg' : '/assets/images/delete-disabled.svg'">
  <div>
    {{isAdding() ? 'Cancel' : 'Cancel'}}
  </div>
</div>
