<div
  class="canvas-holder"
  [class.dragging]="isCanvasDragging"
  [class.adding-router]="canvasStatus === CanvasStatus.AddingRouter"
  [class.adding-host]="canvasStatus === CanvasStatus.AddingHost"
  [style.background-position-x.px]="offset.x"
  [style.background-position-y.px]="offset.y"
  (click) = "placeDevice($event)"
>
  <app-controls
    [canvasStatus]="canvasStatus"
    (addRouterClicked)="requestAddingRouter()"
    (addHostClicked)="requestAddingHost()"
    (addLinkClicked)="requestAddingLink()"
    (deleteClicked)="requestDeleting()"
  >
  </app-controls>
  <app-network-structure 
    [canvasOffset]="offset"
    [canvasStatus]="canvasStatus"
  >    
  </app-network-structure>
</div>
