.canvas-holder {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
  background-image: url(/assets/images/canvas-bg.svg);

  &.dragging {
    cursor: grabbing;
  }

  &.adding-router {
    cursor: url(/assets/images/router.png), auto;
  }

  &.adding-host {
    cursor: url(/assets/images/host.png), auto;
  }
}
