@import "../../variables.scss";

$brand-success: #5cb85c;
$loader-size: 1.2em;
$check-height: $loader-size/2;
$check-width: $check-height/2;
$check-left: ($loader-size/6 );
$check-thickness: 2px;
$check-color: $brand-success;

.host-panel {
  border: $dark-blue solid 2px;
  border-radius: 10px;
  position: absolute;
  background: $white;
  width: 300px;
  padding: 15px;
  padding-top: 0px;
  font-size: 14px;
  box-shadow: 0px 0px 2px 2px rgba(120,147,255,0.3);
  cursor: auto;
  @include user-select(none);

  .handle {
    font-family: Lato-Bold;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    cursor: grab;
    font-size: 16px;
    display: flex;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 5px 5px 0 0;

    .cross {
      position: absolute;
      right: 15px;
      color: $dark-grey;

      &:hover {
        cursor: pointer;
        color: $red;
      }
    }

    img {
      margin-right: 10px;
      pointer-events: none;
    }

    &:active {
      cursor: grabbing;
    }
  }

  .title {
    display: inline-block;
    margin-top: 10px;
    font-size: 13px;
    font-family: Lato-Regular;
  }

  table {
    border: $grey 1px solid;
    border-collapse: collapse;
    line-height: 26px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    margin-top: 5px;

    th, td {
      font-weight: normal;
      background: transparent;
      text-align: center;
      font-family: Lato-Regular;
      font-size: 14px;
    }
  }
}

.flow-row {
  cursor: pointer;
}

.empty-row {
  line-height: 15px;
  height: 15px;
}

.scroll {
  overflow-y: scroll;
  max-height: 200px;
  clear: both;
  margin-top: 5px;

  table {
    margin-top: 0;
  }
}

.new-flow {
  td {
    padding-right: 15px;
  }
}

.toggle {
  float: right;
  color: $blue;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
  font-family: Lato-Regular;
}

.add-button {
  float: right;
  padding: 5px;

  button.active {
    cursor: pointer;
  }
}

.finish {
  color: green;
  margin: auto;
  border: 3px solid #B0E0E6;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 50% 70%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  clip-path: polygon(0% 50%, 50% 50%, 0% 0%);
}

.countdown {
  margin: auto;
  border: 2px solid rgba(0, 0, 0, 0.2);
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  width: $loader-size;
  height: $loader-size;

  p {
    font-size:13px;
    margin-top: -5px;
    color: $dark-grey;
  }
}

.circle-loader {
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-left-color: $check-color;
  animation: loader-spin 1.2s infinite linear;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  width: $loader-size;
  height: $loader-size;
}

.load-complete {
  -webkit-animation: auto;
  animation: auto;
  border-color: $check-color;
  transition: border 500ms ease-out;
}

.checkmark {
  display: auto;
  
  &.draw:after {
    animation-duration: 800ms;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleX(-1) rotate(135deg);
  }
  
  &:after {
    opacity: 1;
    height: $check-height;
    width: $check-width;
    transform-origin: left top;
    border-right: $check-thickness solid $check-color;
    border-top: $check-thickness solid $check-color;
    content: '';
    left: $check-left;
    top: $check-height;
    position: absolute;
  }
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: $check-width;
    opacity: 1;
  }
  40% {
    height: $check-height;
    width: $check-width;
    opacity: 1;
  }
  100% {
    height: $check-height;
    width: $check-width;
    opacity: 1;
  }
}

.select {
  width: 100%;
}
