<div
  class="host-panel"
  [id]="'panel-' + model.id"
  [style.top.px]="anchor.y"
  [style.left.px]="anchor.x"
  draggable
  [dragHandle]="'#panel-' + model.id + ' .handle'"
>
  <div class="handle">
    <img width="18" height="18" src="/assets/images/host.svg" alt="">
    <span class="title-text">{{model.label}}</span>
    <span class="cross" (click)="closePanel()">✕</span>
  </div>

  <hr>

  <span class="title">Details</span>
  <table>
    <tr>
      <td width="50%">IP</td>
      <td width="50%">{{model.interfaces.length > 0 ? model.interfaces[0].ip : "N/A"}}</td>
    </tr>
    <tr>
      <td>Gateway</td>
      <td>{{model.interfaces.length > 0 ? model.interfaces[0].link.getOtherEnd(model).label : "N/A"}}</td>
    </tr>
  </table>
  <span class="title">Flows</span>
  <span
    class="toggle"
    [class.close]="addingNewFlow"
    (click)="toggleAddNewFlow()"
  >
    {{addingNewFlow ? '-' : 'Add Flow'}}
  </span>
  <table
    *ngIf="addingNewFlow"
    class="new-flow"
  >
    <tr>
      <td>Destination</td>
      <td colspan="2">
        <app-input
          [value]="newFlowDest"
          [processor]="processToIp"
          (changed)="newFlowDest = $event"
        ></app-input>
      </td>
    </tr>
    <tr>
      <td width="40%">Data</td>
      <td width="50%">
        <app-input
          [value]="newFlowDataAmount"
          [processor]="processToPosInt"
          (changed)="newFlowDataAmount = $event"
        ></app-input>
      </td>
      <td width="10%">MB</td>
    </tr>
    <tr>
      <td>Start After</td>
      <td>
        <app-input
          [value]="newFlowCountdown"
          [processor]="processToPosInt"
          (changed)="newFlowCountdown = $event"
        ></app-input>
      </td>
      <td>s</td>
    </tr>
  </table>
  <div *ngIf="addingNewFlow">
    <div
      *ngIf="newFlowDest && newFlowDataAmount && model.getIp() !== 'N/A'; else emptyRow"
      class="add-button"
    >
      <button (click)="addNewFlow()">Add</button>
    </div>
    <ng-template #emptyRow>
      <div class="empty-row"> </div>
    </ng-template>
  </div>
  <div class="scroll">
    <table>
      <tr>
        <td width="3%"> </td>
        <td width="43%">Destination</td>
        <td width="27%">Data (MB)</td>
        <td width="27%">Status</td>      
      </tr>
      <tr
        *ngFor="let flow of model.flowList; let i = index"
      >
        <td width="3%"> {{i + 1}} </td>
        <td width="43%"> {{flow.flowDestination}} </td>
        <td width="27%"> {{(flow.dataRemaining / BYTES_PER_MB).toFixed(2)}} </td>
        <td width="27%">
          <ng-container [ngSwitch]="flow.flowStatus">
            <div *ngSwitchCase="FlowStatus.Waiting">
              <div class = "countdown">
                <p style="font-size:13px; margin-top: -5px; color: gray">{{flow.countdown}}</p>
              </div>
            </div>
            <div *ngSwitchCase="FlowStatus.Completed">
              <div class = "circle-loader load-complete checkmark draw"></div>
            </div>
            <div *ngSwitchDefault>
              <div class = "circle-loader"></div>
            </div>
          </ng-container>
        </td>
      </tr>
    </table>
  </div>
</div>
