<div
  class="link-panel"
  [id]="'panel-' + model.id"
  [style.top.px]="anchor.y"
  [style.left.px]="anchor.x"
  draggable
  [dragHandle]="'#panel-' + model.id + ' .handle'"
>
  <div class="handle">
    <img width="18" height="18" src="/assets/images/cable.svg" alt="">
    <span class="title-text">{{model.src.label}} &harr; {{model.dst.label}}</span>
    <span class="cross" (click)="closePanel()">✕</span>
  </div>

  <hr>

  <span class="title">Details</span>
  <table>
    <tr>
      <td width="50%">Capacity</td>
      <td width="20%">
        <app-input
          [value]="model.capacity.toString()"
          [processor]="processToPosInt"
          (changed)="model.capacity = window.parseInt($event)"
        ></app-input>
      </td>
      <td width="30%" class="unit">
        Mbps
      </td>
    </tr>
    <tr>
      <td>Delay</td>
      <td>
        <app-input
          [value]="model.delay.toString()"
          [processor]="processToPosInt"
          (changed)="model.delay = window.parseInt(+$event)"
        ></app-input>
      </td>
      <td class="unit">
        ms
      </td>
    </tr>
    <tr>
      <td>Loss Rate</td>
      <td>
        <app-input
          [value]="model.lossRate.toString()"
          [processor]="processToPercent"
          (changed)="model.lossRate = window.parseFloat($event)"
        ></app-input>
      </td>
      <td class="unit">
        %
      </td>
    </tr>
    <tr>
      <td>Buffer Size</td>
      <td>
        <app-input
          [value]="model.bufferSize.toString()"
          [processor]="processToPosInt"
          (changed)="model.bufferSize = window.parseInt($event)"
        ></app-input>
      </td>
      <td class="unit">
        KB
      </td>
    </tr>
    <tr>
      <td>Metric</td>
      <td>
        <app-input
          [value]="model.metric.toString()"
          [processor]="processToPosInt"
          (changed)="model.updateMetric(window.parseInt($event))"
        ></app-input>
      </td>
      <td class="unit">
      </td>
    </tr>
  </table>
  <span class="title">Monitoring</span>
  <div class="scrollable">
    <div class="monitor-title">
      <img src="/assets/images/throughput-icon.svg">
      THROUGHPUT (Mbps)
    </div>
    <app-series-chart
      [xAxisWidth]="250"
      [yAxisLength]="130"
    ></app-series-chart>

    <div class="monitor-title">
      <img src="/assets/images/latency-icon.svg">
      LATENCY (ms)
    </div>
    <app-series-chart
      [xAxisWidth]="250"
      [yAxisLength]="130"
    ></app-series-chart>

    <div class="monitor-title">
      <img src="/assets/images/packet-loss-icon.svg">
      LOSS RATE (%)
    </div>
    <app-series-chart
      [xAxisWidth]="250"
      [yAxisLength]="130"
    ></app-series-chart>
  </div>
</div>
