<div
  class="link-panel"
  [id]="'panel-' + model.id"
  [style.top.px]="anchor.y"
  [style.left.px]="anchor.x"
  draggable
  [dragHandle]="'#panel-' + model.id + ' .handle'"
>
  <div class="handle">
    <img width="18" height="18" src="/assets/images/cable.svg" alt="">
    <span class="title-text">
      <span style="color: #00B4DC">{{model.src.label}}</span>
      &harr;
      <span style="color: #CC0000">{{model.dst.label}}</span>
    </span>
    <span class="cross" (click)="closePanel()">✕</span>
  </div>

  <hr>

  <span class="title">Details</span>
  <table>
    <tr>
      <td width="50%">Capacity</td>
      <td width="20%">
        <app-input
          [value]="model.capacity.toString()"
          [processor]="processToPosInt"
          (changed)="model.capacity = +$event"
        ></app-input>
      </td>
      <td width="30%" class="unit">
        Mbps
      </td>
    </tr>
    <tr>
      <td>Delay</td>
      <td>
        <app-input
          [value]="model.delay.toString()"
          [processor]="processToPosInt"
          (changed)="model.delay = +$event"
        ></app-input>
      </td>
      <td class="unit">
        ms
      </td>
    </tr>
    <tr>
      <td>Loss Rate</td>
      <td>
        <app-input
          [value]="model.lossRate.toString()"
          [processor]="processToPercent"
          (changed)="model.lossRate = +$event"
        ></app-input>
      </td>
      <td class="unit">
        %
      </td>
    </tr>
    <tr>
      <td>Buffer Size</td>
      <td>
        <app-input
          [value]="model.bufferSize.toString()"
          [processor]="processToPosInt"
          (changed)="model.bufferSize = +$event"
        ></app-input>
      </td>
      <td class="unit">
        KB
      </td>
    </tr>
    <tr>
      <td>Metric</td>
      <td>
        <app-input
          [value]="model.metric.toString()"
          [processor]="processToPosInt"
          (changed)="model.updateMetric(+$event)"
        ></app-input>
      </td>
      <td class="unit">
      </td>
    </tr>
  </table>
  <span class="title">Monitoring</span>
  <div class="scrollable">
    <div class="monitor-title">
      <img src="/assets/images/throughput-icon.svg">
      Link Rate (Mbps)
    </div>
    <app-series-chart
      [xAxisWidth]="265"
      [yAxisLength]="130"
      [data]="model.throughputStats"
    ></app-series-chart>
    <div class="monitor-title">
      <img src="/assets/images/latency-icon.svg">
      Buffer Used (KB)
    </div>
    <app-series-chart
      [xAxisWidth]="265"
      [yAxisLength]="130"
      [data]="model.bufferSizeStats"
    ></app-series-chart>

    <div class="monitor-title">
      <img src="/assets/images/latency-icon.svg">
      Latency (ms)
    </div>
    <app-series-chart
      [xAxisWidth]="265"
      [yAxisLength]="130"
      [data]="model.latencyStats"
    ></app-series-chart>

    <div class="monitor-title">
      <img src="/assets/images/packet-loss-icon.svg">
      Packet Lost
    </div>
    <app-series-chart
      [xAxisWidth]="265"
      [yAxisLength]="130"
      [data]="model.packetLossStats"
    ></app-series-chart>
  </div>
</div>
