<svg width="100%" height="100%" class="svg-bg">
  <g
    [style.transform]="'translate(' + canvasOffset.x + 'px, ' + canvasOffset.y + 'px)'"
  >
    <g
      *ngFor="let link of deviceRegistry.linkList"
      class="link"
      [class.active]="activeDeviceId === link.id"
    >
      <line class="link-border"
        [attr.x1.px]="link.src.position.x"
        [attr.y1.px]="link.src.position.y"
        [attr.x2.px]="link.dst.position.x"
        [attr.y2.px]="link.dst.position.y"
      ></line>
      <line class="link-border-in"
        [attr.x1.px]="link.src.position.x"
        [attr.y1.px]="link.src.position.y"
        [attr.x2.px]="link.dst.position.x"
        [attr.y2.px]="link.dst.position.y"
      ></line>
      <line class="link-stroke"
        [attr.x1.px]="link.src.position.x"
        [attr.y1.px]="link.src.position.y"
        [attr.x2.px]="link.dst.position.x"
        [attr.y2.px]="link.dst.position.y"
      ></line>
      <line class="shadow-link link-handle"
        [attr.x1.px]="link.src.position.x"
        [attr.y1.px]="link.src.position.y"
        [attr.x2.px]="link.dst.position.x"
        [attr.y2.px]="link.dst.position.y"
        [id]="link.id"
      ></line>
    </g>

    <line
      *ngIf="tmpDevice"
      [attr.x1.px]="tmpDevice.position.x"
      [attr.y1.px]="tmpDevice.position.y"
      [attr.x2.px]="targetPosition.x"
      [attr.y2.px]="targetPosition.y"
      class="tmp-line"
    />

    <g
      *ngFor="let router of deviceRegistry.routerList"
      [style.transform]="'translate(' + router.position.x + 'px, ' + router.position.y + 'px)'"
      class="router"
      [class.active]="activeDeviceId === router.id"
      (mouseenter)="deviceEntered(router.id)"
      (mouseleave)="deviceDetached(router.id, $event)"
      (mousedown)="deviceMouseDown(router.id, $event)"
      (mouseup)="deviceMouseUp(router.id, $event)"
    >
      <g transform="translate(0, -30)">
        <rect
          height="60px"
          width="80px"
          rx="5px"
          ry="5px"
          class="topology-elements"
          [id]="router.id"
        >
        </rect>
        <image
          x="22px"
          y="5px"
          width="36px"
          height="36px"
          xlink:href="/assets/images/router.svg"
        />
        <text x="40px" y="55px" text-anchor="middle">
          {{router.label}}
        </text>
      </g>
      <g
        class="connect-point"
        [class.editable]="canvasStatus === CanvasStatus.AddingLink"
        [class.is-active]="tmpDeviceId === router.id"
        (click)="connectPointClicked(router.id, $event)"
      >
        <circle cx="0" cy="0" r="5" class="frame"></circle>
        <circle cx="0" cy="0" r="2" class="bob"></circle>
      </g>
    </g>

    <g
      *ngFor="let host of deviceRegistry.hostList"
      [style.transform]="'translate(' + host.position.x + 'px, ' + host.position.y + 'px)'"
      class="host"
      [class.active]="activeDeviceId === host.id"
      (mouseenter)="deviceEntered(host.id)"
      (mouseleave)="deviceDetached(host.id, $event)"
      (mousedown)="deviceMouseDown(host.id, $event)"
      (mouseup)="deviceMouseUp(host.id, $event)"
    >
      <g transform="translate(0, -30)">
        <rect
          height="60px"
          width="60px"
          rx="5px"
          ry="5px"
          class="topology-elements"
          [id]="host.id"
        >
        </rect>
        <image
          x="12px"
          y="5px"
          width="36px"
          height="36px"
          xlink:href="/assets/images/host.svg"
        />
        <text
          x="30px"
          y="55px"
          text-anchor="middle"
        >
          {{host.label}}
        </text>
      </g>
      <g
        class="connect-point"
        [class.editable]="canvasStatus === CanvasStatus.AddingLink"
        [class.is-active]="tmpDeviceId === host.id"
        (click)="connectPointClicked(host.id, $event)"
      >
        <circle cx="0" cy="0" r="5" class="frame"></circle>
        <circle cx="0" cy="0" r="2" class="bob"></circle>
      </g>
    </g>
  </g>
</svg>
