@import "../../variables.scss";

%network-elements {
  position: absolute;
  cursor: grab;

  image {
    @include nodrag();
    pointer-events: none;
  }

  text {
    @include user-select(none);
    pointer-events: none;
    font-size: 13px;
    font-family: Lato-Regular;
  }

  &:active {
    cursor: grabbing;
  }

  rect {
    fill: white;
    fill-opacity: 0.6;
    stroke: $grey;
    stroke-width: 2px;

    &:hover {
      stroke: $orange;
    }
  }

  &.active {
    rect {
      stroke: $orange;
    }
  }
}

.router {
  @extend %network-elements;
}

.host {
  @extend %network-elements;
}

.tmp-line {
  stroke: $blue;
  stroke-width: 2px;
}

.link {
  cursor: pointer;

  .link-border {
    stroke-linecap: butt;
    stroke-width: 8;
    stroke-opacity: 0;
    stroke: $orange;
    pointer-events: none;
  }

  .shadow-link {
    stroke-width: 20;
    stroke-linecap: butt;
    stroke-opacity: 0;
    pointer-events: all;
  }

  .link-border-in {
    stroke-linecap: butt;
    stroke-width: 6;
    stroke-opacity: 0;
    stroke: $white;
    fill: $white;
    pointer-events: none;
  }

  .link-stroke {
    stroke: $grey;
    stroke-width: 2px;
    pointer-events: none;
  }

  &:hover {
    .link-border-in {
      stroke-opacity: 1;
    }

    .link-border {
      stroke-opacity: 1;
    }
  }

  &.active {
    .link-border-in {
      stroke-width: 3;
      stroke-opacity: 1;
      stroke: $white;
    }

    .link-border {
      stroke-opacity: 1;
    }
  }
}

.connect-point {
  .frame {
    @include transition(all ease .2s);
    fill: $white;
    stroke: $grey;
  }

  .bob {
    @include transition(all ease .2s);
    fill: $grey;
    pointer-events: none;
  }

  &.editable {
    &.is-active, &:hover {
      .frame {
        fill: $lighter-blue;
        stroke: $blue;
      }

      .bob {
        fill: $blue;
        stroke: $blue;
      }
    }

    &:hover {
      .frame {
        transform: scale(1.5);
      }

      .bob {
        transform: scale(1.5);
      }
    }
  }
}
