<div
  class="router-panel"
  [id]="'panel-' + model.id"
  [style.top.px]="anchor.y"
  [style.left.px]="anchor.x"
  draggable 
  [dragHandle]="'#panel-' + model.id + ' .handle'"
>
  <div class="handle">
    <img width="18" height="18" src="/assets/images/router.svg" alt="">
    <span class="title-text">{{model.label}}</span>
    <span class="cross" (click)="closePanel()">✕</span>
  </div>

  <hr>

  <span class="title">Interfaces</span>
  <table>
    <tr>
      <th width="30%">Port</th>
      <th width="70%">IP</th>
    </tr>
    <tr *ngFor="let interface of model.interfaces">
      <td>{{interface.port}}</td>
      <td>{{interface.ip}}</td>
    </tr>
  </table>

  <span class="title">Neighbor Table</span>
  <table>
    <tr>
      <th width="30%">Neighbor</th>
      <th width="70%">Port</th>
    </tr>
  </table>

  <span class="title">Link State Table</span>
  <table>
    <tr>
      <th width="30%">Source</th>
      <th width="30%">Target</th>
      <th width="40%">Weight</th>
    </tr>
  </table>

  <span class="title">Shortest Path Table</span>
  <table>
    <tr>
      <th width="50%">IP</th>
      <th width="50%">Next Hop</th>
    </tr>
  </table>
</div>
