@import "../../variables.scss";

.router-panel {
  border: $dark-blue solid 2px;
  border-radius: 10px;
  position: absolute;
  background: linear-gradient(180deg, #FFFFFF 0%, #F5F7FF 100%);
  width: 230px;
  padding: 15px;
  padding-top: 0px;
  font-size: 14px;
  box-shadow: 0px 0px 2px 2px rgba(120,147,255,0.3);

  td {
    background: $white;
  }

  .handle {
    font-family: Lato-Bold sans-serif;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    cursor: grab;
    font-size: 16px;
    font-weight: bold;
    color: $white;
    background: $dark-blue;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 5px 5px 0 0;

    img {
      margin-right: 10px;
      -webkit-user-drag: none;
      -khtml-user-drag: none;
      -moz-user-drag: none;
      -o-user-drag: none;
      user-drag: none;
    }

    &:active {
      cursor: grabbing;
    }
  }
}
