<div
  class="router-panel"
  [id]="'panel-' + model.id"
  [style.top.px]="220"
  [style.left.px]="200"
  draggable 
  [dragHandle]="'#panel-' + model.id + ' .handle'"
>
  <div class="handle">
    <img width="18" height="18" src="/assets/images/router.svg" alt="">
    <span class="title-text">Router Details</span>
  </div>

  <hr>

  <span class="strong">Name</span>
  {{model.label}}

  <hr>

  <span class="strong">Interfaces</span>
  <table>
    <tr>
      <td>Interface</td>
      <td>10.0.0.1</td>
    </tr>
  </table>

  <span class="strong">Neighbor Table</span>
  <table>
    <tr>
      <td>Interface</td>
      <td>10.0.0.1</td>
    </tr>
  </table>

  <span class="strong">Link State Table</span>
  <table>
    <tr>
      <td>Interface</td>
      <td>10.0.0.1</td>
    </tr>
  </table>

  <span class="strong">Shortest Path Table</span>
  <table>
    <tr>
      <td>Interface</td>
      <td>10.0.0.1</td>
    </tr>
  </table>
</div>
