@import "variables.scss";

@font-face {
    font-family: "NeuzeitGro-Bla";
    src: url("/assets/fonts/NeuzeitGroBla.ttf")
}

@font-face {
    font-family: "Lato-Regular";
    src: url("/assets/fonts/Lato-Regular.ttf")
}

@font-face {
    font-family: "Lato-Bold";
    src: url("/assets/fonts/Lato-Bold.ttf")
}

@font-face {
    font-family: "Lato-Italic";
    src: url("/assets/fonts/Lato-Italic.ttf")
}

@font-face {
    font-family: "NeuzeitGro-Bold";
    src: url("/assets/fonts/NeuzeitGro-Bold.ttf")
}

@font-face {
    font-family: "NeuzeitGro";
    src: url("/assets/fonts/NeuzeitGro.ttf")
}

html,body { 
  width: 100%; 
  height: 100%; 
  margin: 0;
  position: relative;
}

.display-flex {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
}

.display-flex-center {
  @extend .display-flex;

  align-items: center; /* y */
  -webkit-align-items: center;
  -ms-flex-align: center;
  justify-content: center; /* x */
  -webkit-justify-content: center;
  -ms-flex-pack: center;
}

.display-flex-y-center {
  @extend .display-flex;

  align-items: center; /* y */
  -webkit-align-items: center;
  -ms-flex-align: center;
}

.display-flex-x-center {
  @extend .display-flex;

  justify-content: center; /* x */
  -webkit-justify-content: center;
  -ms-flex-pack: center;
}

.display-column-flex {
  @extend .display-flex;

  flex-direction: column;
}

.display-row-flex {
  @extend .display-flex;

  flex-direction: row;
}

.flex-x-end {
  justify-content: flex-end;  /* x */
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
}

.flex-flow-colunm {
  -webkit-flex-flow: column;
  flex-flow: column;
  -ms-flex-pack: justify;
}

.flex-flow-row-wrap {
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  -ms-flex-wrap: wrap;
}

.strong {
  font-weight: bold;
}

input {
  border: none;
  text-align: right;
  font-family: Lato-Regular;
  font-size: 14px;
  width: 100%;
}
