$grey: #E2E2E2;
$dark-grey: #CCD2DA;
$black: #000000;
$transparent-black: rgba(0, 0, 0, 0.8);
$white: #FFFFFF;
$blue: #59BEFF;
$dark-blue: #7893FF;
$light-blue: #F1F4F8;
$lighter-blue: #DDF1FF;
$orange: #FFAC51;
$red: #FF6060;
$green: #3CC955;


@mixin user-select($select...) {
  -webkit-user-select: $select;    /* Chrome all / Safari all */
  -moz-user-select: $select;    /* Firefox all */
  -ms-user-select: $select;    /* IE 10+ */
  -o-user-select: $select;
  user-select: $select;
}

@mixin nodrag() {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}
